body {
  padding: 2rem 2rem 0 2rem;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

main {
  column-count: 3;
}

main img {
  width: 100%;
  margin-bottom: 1rem;
}

@media (max-width: 960px) {
  main {
    column-count: 1;
  }
}
