<header>
  <h1>Look<br />Book</h1>
  <nav>
    <ul>
      <li><a href="/users">Users</a></li>
      <li><a href="/looks">Looks</a></li>
      <li><a href="/fits">Fits</a></li>
    </ul>
  </nav>
</header>