<body class="page">
  <h1 class="title">lookbook</h1>
  <form method="GET" action="/user">
    <input name="username" type="text" placeholder="username" value="" size="25" required autofocus />
  </form>
</body>