@import "/fonts/fonts.css";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-color: var(--cpop);
  /* border: 1px solid red; */
}

::selection {
  color: var(--cback);
  background-color: var(--cpop);
}

body {
  --cfront: #333333;
  --cback: #f9f9f9;
  --cpop: #1e88e5;

  color: var(--cfront);
  background-color: var(--cback);

  font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 1.25rem;
  line-height: 1.35;
}

h1 {
  font-size: 2.7rem;
  font-weight: normal;
  line-height: 1;
  /* underline thing */
  padding-bottom: 1rem;
  border-bottom: 0.2rem solid var(--cpop);
}

p {
  margin-bottom: 1rem;
}

p:last-child {
  margin-bottom: 0;
}

a {
  color: var(--cpop);
  text-decoration: none;
}

li {
  list-style-position: inside;
}

input {
  font: inherit;
  color: inherit;
  background-color: transparent;
  border: 0.05rem solid var(--cfront);
}

.page {
  min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
  body {
    --cfront: #f9f9f9;
    --cback: #333333;
  }
}
