@import "/fonts/fonts.css";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-color: var(--cpop);
  /* border: 1px solid red; */
}

::selection {
  color: var(--cback);
  background-color: var(--cpop);
}

body {
  --cfront: #3a3a3a;
  --cback: #fafafa;
  --cpop: #1e88e5;

  color: var(--cfront);
  background-color: var(--cback);

  font-size: 1.2rem;
}

h1,
h2 {
  font-family: "Josefin Sans";
  text-transform: uppercase;
  font-weight: 600;
}

h1 {
  font-size: 2.2em;
}

p {
  font-size: 1.3em;
  line-height: 1.35;
  margin-bottom: 1em;
}

p:last-child {
  margin-bottom: 0;
}

a {
  color: var(--cpop);
  text-decoration: none;
}

li {
  list-style-position: inside;
}

input {
  font: inherit;
  color: inherit;
  background-color: transparent;
  border: 0.05rem solid var(--cfront);
}

.page {
  min-height: 100%;
}

/* underline thing */
.title {
  /* padding-bottom: 0.25em; */
  border-bottom: 0.1em solid var(--cpop);
  margin-bottom: 0.25em;
}

@media (prefers-color-scheme: dark) {
  body {
    --cfront: #f9f9f9;
    --cback: #333333;
  }
}
