form {
  width: 30rem;
}

form input {
  /* fill space with input */
  width: 100%;
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* first child in row */
.form-row > :first-child {
  /* space input box away */
  margin-right: 1rem;
}

#breakdown {
  margin-bottom: 1rem;
}

button[type="submit"] {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
