body {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media (orientation: portrait) {
  body {
    flex-direction: column;
    justify-content: space-around;
  }
}