body {
  padding: 2rem 2rem 0 2rem;
}

header {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

main img {
  max-height: 30rem;
  margin: 0 0.5rem 1rem;
}